<nav
class="layout-nav-wrap py-12"
style="background-color: #aa0601;">
  <div class="container">
    <div class="d-flex card-row layout-nav-group justify-content-space-between align-items-center">
      <div class="column logo-img">
        <a href="index.html">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="logo">
        </a>
      </div>
      <ul class="column layout-link-group d-flex g-64">
        <li>
          <a href="UserProductsOpticalView.html" class="layout-link fz-20 fz-sm-16 light-color">
            系列鏡框
          </a>
        </li>
        <li>
          <a href="UserStoresView.html" class="layout-link fz-20 fz-sm-16 light-color">
            門市據點
          </a>
        </li>
        <li>
          <a href="UserBlogsView.html" class="layout-link fz-20 fz-sm-16 light-color">
            部落格
          </a>
        </li>
        <li>
          <a href="UserQAView.html" class="layout-link fz-20 fz-sm-16 light-color">
            常見問題
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>