/* common */
.blog-tag {
  &:hover {
    text-decoration: underline;
  }
}
.blog-share-link-group,
.blog-change-page-link-group {
  img {
    width: 24px;
  }
  @include mobile {
    display: none;
  }
}
/* blog-breadcrumb-wrap */
.breadcrumb-active,
.blog-breadcrumb:hover {
  color: $primary-color;
}
.blog-tag-group {
  .column {
    gap: 15px;
  }
}
/* blog-content-wrap*/
.blog-content-wrap {
  .column:nth-child(1) {
    width: 66.049382716%;

    @include mobile {
      width: 100%;
    }
  }
  .column:nth-child(2) {
    @include mobile {
      display: none;
    }
  }
}
.blog-share-link-group img:hover {
  transform: scale(1.1);
}
@include pad {
  .tag-title img {
    width: 24px;
  }
}

/* blog-change-page-link-wrap */
.blog-change-page-link-wrap {
  .column {
    width: 66.049382716%;

    @include pad {
      width: 100%;
    }
  }
}
.blog-change-page-link-group {
  border-top: 1px solid #707070;
}
