/* header */
.home-header-wrap {
  background-image: url('../images/home-header.png');
  height: 787px;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include lg-pc {
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png');
    background-position: top;
    background-size: cover;
  }
  @include mobile {
    height: 396px;
  }
}

/* home-features-wrap */
.home-features-group {
  img {
    width: 100px;
  }
  @include lg-pc {
    flex-wrap: wrap;
  }
}
/* class-glasses-wrap */
.class-glasses-group  {
  @include lg-pc {
    flex-direction: column;
    align-items: center;
  }
}
/* co-glasses-wrap  */

.co-glasses-group {
  .column {
    padding: 0;
  }

  @include pad {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.co-glasses-wrap {
  background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png');

  @include pad {
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png');
    background-position: top;

    .column {
      padding-right: 12px;
      padding-left: 12px;
    }
  }
}
.co-glasses-img {
  height: 240px;
  overflow: hidden;
}

/* recommend-wrap*/
.recommend-card {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}
.recommend-content {
  height: 205px;
}

.recommend-group {
  @include pad {
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* contact-wrap */
.contact-group {
  input, textarea {
    padding: 6px 12px;
    background-color: transparent;

    &::placeholder {
      opacity: 0.8;
    }
  }
}
.contact-form-btn a {
  width: 416px;
  height: 56px;
}
