/* nav */
.products-nav-wrap {
  .column {
    padding: 0;
  }
}
.products-nav-group {
  li {
    border: 1px solid #DCDCDC;

    a {
      display: block;
    }
  }
}
/* products-banner-wrap */
.products-banner-group {
  .column {
    padding: 0;
  }
}
/* optical-glasses-group */
.optical-glasses-group {
  .column:nth-child(n+5) {
    margin-top: 80px;
  }
}
/* sunglasses-glasses-wrap */
.sunglasses-glasses-group {
  .column:nth-child(n+4) {
    margin-top: 80px;
  }
  .product-card-img img {
    @include pad {
      aspect-ratio: 3/2;
    }
  }
}
/* common */
.optical-glasses-group,
.sunglasses-glasses-group {
  flex-wrap: wrap;

  .column:nth-child(n+3) {
    @include lg-pc {
      margin-top: 40px;
    }
  }
  .column:nth-child(n+2) {
    @include mobile {
      margin-top: 24px;
    }
  }
}
